body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*CABEÇALHO*/
header {
    background-color: #333;
    color: #fff;
}

.header-info h1, .header-info p {
    margin: 0;
    font-weight: bold;
}

.header-info h1 {
    font-size: 28px;
}

.header-info p {
    font-size: 18px;
}


/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*RESUMO*/

#imagem-elijunio {
    width: 200px;
    border-radius: 50%;
}

#subtitulo {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/

/*TIMELINE*/

.timeline {
    margin-bottom: 30px;
    font-size: 18px;
    padding-left: 0;
    list-style-type: none;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
}

.timeline-item-title {
    line-height: 1.3;
    margin-bottom: 7px;
}

.timeline-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -30px;
    width: 3px;
    height: calc(100% + 25px);
    background: #BDBDBD;
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 8px;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #333;
}

.timeline-text {
    font-weight: 300;
    line-height: 1.6;
}


/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*Experiências*/
.experiencias ul {
    font-size: 14px;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*Página Portfolio*/

.container.my-5 .text-start.mb-5 h2 {
    text-align: center;
    font-weight: bold;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 1 1 800px; 
    max-width: 800px; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card-img-top {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    padding-top: 10px;
}

.card-title {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 10px;
}

.card-text {
    flex-grow: 1;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card a:hover {
    text-decoration: none;
}

.progress-container {
    width: 100%;
    background-color: white;
    border: black;
    border-radius: 25px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 30px;
    width: 0%;
    background-color: #333;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
    transition: width 0.4s ease;
}

.progress-bar span {
    position: absolute;
    width: 100%;
    text-align: center;
}

.progress-container.completed .progress-bar {
    width: 100%;
    background-color: #333;
}

.progress-container.completed .progress-bar span {
    color: white;
    font-weight: bold;
}


/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*RODAPE*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 40px;
    width: 100%;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*RESPONSIVIDADE*/
@media screen and (max-width: 768px) {
    .header-info h1, .header-info p {
        text-align: center;
    }
    
    .projects {
        grid-template-columns: 1fr;
    }

    .button-style {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*CHATBOT*/

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation: shake 1s;
}
