body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*CABEÇALHO*/
header {
    background-color: #333;
    color: #fff;
}

.header-info h1, .header-info p {
    margin: 0;
    font-weight: bold;
}

.header-info h1 {
    font-size: 28px;
}

.header-info p {
    font-size: 18px;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/* PAGINA CENTRAL */
main {
    width: 100%;
    padding: 10px 20px;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*RESUMO*/
#imagem-elijunio {
    width: 200px;
    border-radius: 50%;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*COMPETÊNCIAS*/
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button-style {
    flex: 1;
    min-width: 250px;
    margin-bottom: 10px;
}

.button-style .button-content {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.button-style .button-content img {
    margin-right: 10px;
    width: 40px;
}

.button-style .button-content span {
    flex: 1;
    overflow: hidden;
}

.button-style .button-content:hover {
    background-color: #444;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*FORMAÇÃO*/
.timeline {
    margin-bottom: 30px;
    font-size: 18px;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
}

.timeline-item-title {
    line-height: 1.3;
    margin-bottom: 7px;
}

.timeline-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -30px;
    width: 3px;
    height: calc(100% + 25px);
    background: #BDBDBD;
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 8px;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #333;
}

.timeline-text {
    font-weight: 300;
    line-height: 1.6;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*Experiências*/
.experiencias ul {
    font-size: 14px;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*Página Portfolio*/
.portfolio h1 {
    font-size: 28px;
}

p.especificacoes {
    font-size: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project {
    background: #fff;
    color: black;
    text-align: center;
    padding: 20px;
}

.project img {
    width: 100%;
    height: auto;
}

.description {
    text-align: left;
}

.show-description {
    cursor: pointer;
    text-decoration: underline;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*Página Contato*/
.main .contato-left,
.main .contato-right {
    padding: 20px;
    margin-top: 10px;
    line-height: 2.5;
    font-size: 28px;
}

.contato-left {
    background-color: black;
    color: white;
}

.contato-right {
    background-color: white;
    color: black;
}

.contato-left p, .contato-right p {
    font-size: 19px;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*RODAPE*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 40px;
    width: 100%;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*RESPONSIVIDADE*/
@media screen and (max-width: 768px) {
    .header-info h1, .header-info p {
        text-align: center;
    }
    
    .projects {
        grid-template-columns: 1fr;
    }

    .button-style {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
