body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*CABEÇALHO*/
header {
    background-color: #333;
    color: #fff;
}

.header-info h1, .header-info p {
    margin: 0;
    font-weight: bold;
}

.header-info h1 {
    font-size: 28px;
}

.header-info p {
    font-size: 18px;
}


/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*RESUMO*/

#imagem-elijunio {
    width: 200px;
    border-radius: 50%;
}

#subtitulo {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/

/*TIMELINE*/

.timeline {
    margin-bottom: 30px;
    font-size: 18px;
    padding-left: 0;
    list-style-type: none;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
}

.timeline-item-title {
    line-height: 1.3;
    margin-bottom: 7px;
}

.timeline-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -30px;
    width: 3px;
    height: calc(100% + 25px);
    background: #BDBDBD;
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -33px;
    height: 6px;
    width: 8px;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #333;
}

.timeline-text {
    font-weight: 300;
    line-height: 1.6;
}


/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*Experiências*/
.experiencias ul {
    font-size: 14px;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*Página Portfolio*/


.card {
    flex: 1 1 250px;
    max-width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd; /* Adiciona uma borda para visualização */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    overflow: hidden;
}

.card-img-top {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    padding-top: 10px;
}

.card-title {
    text-align: center;
    margin: 10px 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 10px;
}

.card-text {
    flex-grow: 1;
}



/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*Página Contato*/

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*RODAPE*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 40px;
    width: 100%;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

/*----------------------------------------------------------/-----------------------------------------------------------------------------------------------*/
/*RESPONSIVIDADE*/
@media screen and (max-width: 768px) {
    .header-info h1, .header-info p {
        text-align: center;
    }
    
    .projects {
        grid-template-columns: 1fr;
    }

    .button-style {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
